<div class = "giftrequests">
    {{#each this}}
    <section class ="gifts">
        <div class ="meta">
        {{wishlist_name}}
        {{event_name}}
        {{item_name}}
        {{category}}
        {{url}}
        </div>
    </section>
    {{/each}}
</div>